{% extends "base.html" %}

{% block extrahead %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Abderrahman El Farchouni",
    "alternateName": ["Abderrahman Elfarchouni", "A. El Farchouni", "El Farchouni, A.", "Elfarchouni, A."],
    "url": "https://elfarchouni.github.io",
    "image": "https://elfarchouni.github.io/assets/images/profile.png",
    "jobTitle": "PhD Researcher in Hydrology and Hydrogeology",
    "email": "mailto:elfarchouniabderrahman7@gmail.com",
    "nationality": "Moroccan",
    "workLocation": [
      {"@type": "Place", "name": "Benguerir, Morocco"},
      {"@type": "Place", "name": "Florence, Italy"}
    ],
    "affiliation": [
      {
        "@type": "CollegeOrUniversity",
        "name": "Mohammed VI Polytechnic University (UM6P), International Water Research Institute (IWRI)",
        "url": "https://www.um6p.ma"
      },
      {
        "@type": "CollegeOrUniversity",
        "name": "University of Florence (UNIFI), Department of Agriculture, Food, Environment and Forestry (DAGRI)",
        "url": "https://www.unifi.it"
      }
    ],
    "alumniOf": [
      {
        "@type": "CollegeOrUniversity",
        "name": "Ibn Tofail University, Faculty of Sciences, Kenitra"
      },
      {
        "@type": "CollegeOrUniversity",
        "name": "Faculty of Science and Technology, Tangier"
      }
    ],
    "knowsAbout": [
      "Hydrology",
      "Hydrogeology",
      "Groundwater recharge",
      "Water resources management",
      "Hydrological modeling",
      "SWAT-MODFLOW",
      "Hydrogeophysics",
      "Hydrochemistry",
      "Stable isotopes",
      "Remote sensing",
      "GIS",
      "Machine learning"
    ],
    "knowsLanguage": ["ar", "fr", "en"],
    "sameAs": [
      "https://github.com/ElFarchouni",
      "https://www.linkedin.com/in/abderrahman-el-farchouni",
      "https://www.phd-gsrafa.dagri.unifi.it/vp-346-xl-ciclo-abderrahman-el-farchouni.html"
    ]
  }
  </script>
{% endblock %}
